.Projects{
    /* width: 75%; */
    /* margin-top: 50px; */
    position: relative;
    padding: 10px;
    margin-top: 5vh;
    height: 250px;
    overflow: none;
    text-align: center;
    align-items: center;
}

.ProjectDiv{
    display: block;
    margin: 0 auto;
    /* margin: auto; */
    width: fit-content;
    text-align: center;
    align-items: center;
}

.ProjectsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* height: 300px; */
}